.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.container-skinner {
  max-width: 75%;
  margin: 0 auto; }

.container-medium {
  width: 85%;
  margin: 0 auto; }

.container-large {
  width: 90%;
  margin: 0 auto; }

.btn-main {
  text-decoration: none;
  padding: .7rem 1.4rem;
  background-color: #ea6c6b;
  color: #fff;
  display: inline-block;
  border-radius: 2rem;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0px 2px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 7px -4px rgba(0, 0, 0, 0.75); }
  .btn-main:hover {
    background-color: #e4403e; }

@-webkit-keyframes anime {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(20px); } }

@-moz-keyframes anime {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(20px); } }

@-o-keyframes anime {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(20px); } }

@keyframes anime {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(20px); } }

html, body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
  font-size: 5rem;
  margin: 0;
  color: #fff; }

.wrap-main {
  width: 100%;
  background-image: url(../img/bg-main.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 150px;
  height: auto; }

header {
  width: 100%;
  background: url("../img/topo_bg.png") repeat scroll 0% 0%/65% auto;
  background-color: rgba(40, 40, 40, 0.8);
  padding: 1.5rem 0; }

.logo {
  display: block;
  float: left; }

.navigation {
  float: right;
  display: inline-block;
  padding-top: .8rem; }
  .navigation a {
    text-decoration: none;
    margin: 0;
    padding: .4rem .7rem;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
    .navigation a:hover {
      color: #ea6c6b; }
  .navigation a.contrate {
    border: 1px solid #ea6c6b;
    color: #ea6c6b;
    border-radius: 3rem;
    transition: all .3s ease; }
    .navigation a.contrate:hover {
      color: #fff;
      border: 1px solid #fff; }

#main {
  width: 100%;
  background-color: rgba(40, 40, 40, 0.4);
  text-align: center;
  padding: 8rem 0; }
  #main h1 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px; }
  #main p {
    font-size: 2.3rem;
    font-weight: 300;
    color: #fff;
    margin: .4rem 0 3rem 0;
    text-transform: uppercase; }
  #main .dividor {
    display: block;
    width: 50px;
    margin: 100px auto 0 auto; }
  #main svg.svg-anime {
    -webkit-animation: anime 1s infinite;
    /* Safari 4+ */
    -moz-animation: anime 1s infinite;
    /* Fx 5+ */
    -o-animation: anime 1s infinite;
    /* Opera 11+ */
    animation: anime 1s infinite;
    /* IE 10+, Fx 29+ */ }

#portfolio {
  width: 100%; }
  #portfolio h2 {
    font-family: "Bitter", serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: #ea6c6b;
    margin: 0 0 2rem 0; }
  #portfolio .separador {
    display: block;
    text-align: center; }

.post {
  border: 1px solid white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  min-height: 300px;
  max-height: 300px; }
  .post img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    transition: all .9s ease-in-out;
    -webkit-transform: scale(1);
    /* prefixo para browsers webkit */
    -moz-transform: scale(1);
    /* prefixo para browsers gecko */
    -o-transform: scale(1);
    /* prefixo para opera */
    transform: scale(1); }

.post:hover img {
  -webkit-transform: scale(1.1);
  /* prefixo para browsers webkit */
  -moz-transform: scale(1.1);
  /* prefixo para browsers gecko */
  -o-transform: scale(1.1);
  /* prefixo para opera */
  transform: scale(1.1); }

.post:hover .inner {
  background-color: rgba(234, 108, 107, 0.9);
  opacity: 1;
  transform: translateX(0); }

.post:hover .inner h3,
.post:hover .inner .post-info {
  transform: translateX(0); }

.inner {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all .6s ease;
  text-align: center; }
  .inner h3 {
    font-family: "Bitter", serif;
    font-weight: 700;
    color: #fff;
    font-size: 3rem;
    margin: 0;
    transform: translateX(120%);
    transition: all .8s ease; }
  .inner .post-info {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
    transform: translateX(145%);
    transition: all .9s ease; }

#sobre {
  width: 100%;
  margin: 30px 0 50px 0; }
  #sobre .inner-sobre {
    padding: 3rem 0; }
    #sobre .inner-sobre h3 {
      font-family: "Bitter", serif;
      font-size: 1.6rem;
      font-weight: 300;
      color: #ea6c6b;
      margin: 0 0 2rem 0; }
    #sobre .inner-sobre p {
      font-family: "Open Sans", sans-serif;
      font-size: 1.2rem;
      color: #fff;
      font-weight: 300;
      line-height: 1.75; }
      #sobre .inner-sobre p::-moz-selection {
        background-color: #ea6c6b; }
      #sobre .inner-sobre p span {
        font-weight: 700; }
      #sobre .inner-sobre p span::selection {
        background-color: #ea6c6b; }
    #sobre .inner-sobre p::selection {
      background-color: #ea6c6b; }

@media screen and (min-width: 1200px) {
  .inner h3 {
    font-size: 2.5rem; } }
