@import 'variaveis';



html, body{
	box-sizing: border-box;
	font-family: $queen;
}

h1, h2, h3, h4, h5, h6{
	font-family: $king;
	font-size: 5rem;
	margin: 0;
	color: $base;

}
.wrap-main{
	width: 100%;
	background-image: url(../img/bg-main.jpg);
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 150px;
	height: auto;

}

header{
	width: 100%;
	background: url("../img/topo_bg.png") repeat scroll 0% 0% / 65% auto;
	background-color: rgba($dark, .8);
	padding: 1.5rem 0;
}
.logo{
	display: block;
	float: left;
}
.navigation{
		float: right;
		display: inline-block;
		padding-top: .8rem;
		a{
			text-decoration: none;
			margin: 0;
			padding: .4rem .7rem;
			color: $base;
			font-family: $queen;
			font-weight: 300;
			&:hover{
				color:$detalhes;
			}
		
		}
		a.contrate{
			border: 1px solid $detalhes;
			color: $detalhes;
			border-radius: 3rem;
			transition: all .3s ease;
			&:hover{
				color: $base;
				border: 1px solid $base;
			}
		}
}

#main{
	width: 100%;
	background-color: rgba($dark, .4);
	text-align: center;
	padding:8rem 0;
	
	h1{
		font-size: 70px;
		font-weight: 700;
		color: $base;
		letter-spacing: 1px;

	}
	p{
		font-size: 2.3rem;
		font-weight: 300;
		color: $base;
		margin:.4rem 0 3rem 0;
		text-transform: uppercase;

	}
	.dividor{
		display: block;
		width: 50px;
		margin:100px auto 0 auto;
		
}
	svg.svg-anime{
		-webkit-animation: anime 1s infinite; /* Safari 4+ */
	  -moz-animation:    anime 1s infinite; /* Fx 5+ */
	  -o-animation:      anime 1s infinite; /* Opera 11+ */
	  animation:         anime 1s infinite; /* IE 10+, Fx 29+ */
	}
}	


#portfolio{
	width: 100%;
		h2{
		font-family: $king;
		font-size: 1.6rem;
		font-weight: 300;
		color: $detalhes;
		margin: 0 0 2rem 0;
	}	
	.separador{
		display: block;
		text-align: center;
	}
}


	.post{
		border: 1px solid lighten($base, 5%);
		cursor: pointer;
		overflow: hidden;
		position: relative;
		margin-bottom: 30px;
	  min-height: 300px;
    max-height: 300px;
		

		img {
	    width: 100%; 	   
	    min-height: 300px;
    	max-height: 300px;
			transition: all .9s ease-in-out;
			-webkit-transform:scale(1); /* prefixo para browsers webkit */
			-moz-transform:scale(1); /* prefixo para browsers gecko */
			-o-transform:scale(1); /* prefixo para opera */
			transform:scale(1);
		}

	}
	.post:hover img{
	-webkit-transform:scale(1.1); /* prefixo para browsers webkit */
	-moz-transform:scale(1.1); /* prefixo para browsers gecko */
	-o-transform:scale(1.1); /* prefixo para opera */
	transform:scale(1.1);
	}

	.post:hover .inner{
		background-color: rgba($detalhes, .9);
		opacity: 1;
		transform: translateX(0);
		
	}
	.post:hover .inner h3,
	.post:hover .inner .post-info{
		transform: translateX(0);
	}
	.inner{
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: translateX(100%);
		transition: all .6s ease;
		text-align: center;
		h3{
			font-family: $king;
			font-weight: 700;
			color: $base;
			font-size: 3rem;
			margin: 0;
			transform: translateX(120%);
			transition: all .8s ease;
		}

		.post-info{
			font-family: $queen;
			font-size: 1.2rem;
			color: $base;
			font-weight: 300;
			transform: translateX(145%);
			transition: all .9s ease;
		}
	}

	#sobre{
		width: 100%;
		margin: 30px 0 50px 0;
		.inner-sobre{
			padding: 3rem 0;
			h3{
				font-family: $king;
				font-size: 1.6rem;
				font-weight: 300;
				color: $detalhes;
				margin: 0 0 2rem 0;
			}
			p{
				font-family: $queen;
			font-size: 1.2rem;
			color: $base;
			font-weight: 300;
			line-height: 1.75;
			&::-moz-selection{
				background-color: $detalhes;
			}
			span{
				font-weight: 700;
			}
			span::selection{
				background-color: $detalhes;
			}
			}

			p::selection{
				background-color: $detalhes;
			}
			
		}
			
	}

@import 'response';