@import 'variaveis';



html, body{
	box-sizing: border-box;
	font-family: $queen;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
	font-family: $king;
	font-size: 5rem;
	margin: 0;
	color: $base;

}
.wrap-main{
	width: 100%;
	background-image: url(../img/bg-teste.jpg);
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 10px;
	height: auto;

}

header{
	width: 100%;
	background: url("../img/topo_bg.png") repeat scroll 0% 0% / 65% auto;
	background-color: rgba($dark, .8);
	padding: 1.5rem 0;
}
.logo{
	display: block;
	float: left;
}
.navigation{
		float: right;
		display: inline-block;
		padding-top: .8rem;
		a{
			text-decoration: none;
			margin: 0;
			padding: .4rem .7rem;
			color: $base;
			font-family: $queen;
			font-weight: 300;
			&:hover{
				color:$detalhes;
			}
		
		}
		a.contrate{
			border: 1px solid $detalhes;
			color: $detalhes;
			border-radius: 3rem;
			transition: all .3s ease;
			&:hover{
				color: $base;
				border: 1px solid $base;
			}
		}
}

#main{
	width: 100%;
	height: auto;
	background-color:trasparent;
	text-align: center;
	padding:5rem 0;
	
	
	h1{
		font-size: 70px;
		font-weight: 700;
		color: $base;
		letter-spacing: 1px;

	}
	p{
		font-size: 2.3rem;
		font-weight: 300;
		color: $base;
		margin:.4rem 0 3rem 0;
		text-transform: uppercase;

	}
	.dividor{
		display: block;
		width: 50px;
		margin:100px auto 0 auto;
		
}
	svg.svg-anime{
		-webkit-animation: anime 1s infinite; /* Safari 4+ */
	  -moz-animation:    anime 1s infinite; /* Fx 5+ */
	  -o-animation:      anime 1s infinite; /* Opera 11+ */
	  animation:         anime 1s infinite; /* IE 10+, Fx 29+ */
	}
}	


#portfolio{
	height: 1200px;
	background-color:trasparent;
	width: 100%;
	margin-top: 5px;
	padding-top: 1rem;
		h2{
		font-family: $king;
		font-size: 1.6rem;
		font-weight: 300;
		color: $detalhes;
		margin: 0 0 2rem 0;
	}	
	.separador{
		display: block;
		text-align: center;
	}
}


	.post{
		border: 1px solid lighten($base, 5%);
		cursor: pointer;
		overflow: hidden;
		position: relative;
		margin-bottom: 30px;
	  min-height: 300px;
    max-height: 300px;
		

		img {
	    width: 100%; 	   
	    min-height: 300px;
    	max-height: 300px;
			transition: all .9s ease-in-out;
			-webkit-transform:scale(1); /* prefixo para browsers webkit */
			-moz-transform:scale(1); /* prefixo para browsers gecko */
			-o-transform:scale(1); /* prefixo para opera */
			transform:scale(1);
		}

	}
	.post:hover img{
	-webkit-transform:scale(1.1); /* prefixo para browsers webkit */
	-moz-transform:scale(1.1); /* prefixo para browsers gecko */
	-o-transform:scale(1.1); /* prefixo para opera */
	transform:scale(1.1);
	}

	.post:hover .inner{
		background-color: rgba($detalhes, .9);
		opacity: 1;
		transform: translateX(0);
		
	}
	.post:hover .inner h3,
	.post:hover .inner .post-info{
		transform: translateX(0);
	}
	.inner{
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: translateX(100%);
		transition: all .6s ease;
		text-align: center;
		h3{
			font-family: $king;
			font-weight: 700;
			color: $base;
			font-size: 3rem;
			margin: 0;
			transform: translateX(120%);
			transition: all .8s ease;
		}

		.post-info{
			font-family: $queen;
			font-size: 1.2rem;
			color: $base;
			font-weight: 300;
			transform: translateX(145%);
			transition: all .9s ease;
		}
	}

	#sobre{
		height: 350px;
		background-color:trasparent;
		width: 100%;
		margin: 1rem;
		.inner-sobre{
			padding: 3rem 0;
			h3{
				font-family: $king;
				font-size: 1.6rem;
				font-weight: 300;
				color: $detalhes;
				margin: 0 0 2rem 0;
			}
			p{
				font-family: $queen;
				font-size: 1.4rem;
			  line-height: 1.7;
			  text-align: left;
			  color: $base;
				font-weight: 300;
			&::-moz-selection{
				background-color: $detalhes;
			}
			span{
				font-weight: 700;
			}
			span::selection{
				background-color: $detalhes;
			}
			}

			p::selection{
				background-color: $detalhes;
			}
			
		}
			
	}

#footer{
	height: 550px;

	background-color:trasparent;
	width: 100%;
	background: url("../img/topo_bg.png") repeat scroll 0% 0% / 65% auto;
	background-color: rgba($dark, .8);
	padding: 5rem 0 1rem 0;

	.wrap-main-footer{
		width: 100%;
			
		padding:0 0 1rem 0 ;
		ul{
			float: left;
			display: block;
			margin: 0;
			padding:3rem ;
			li{
				margin: 0;
				padding: 0;
				display: block;
				list-style-type: none;
				margin-bottom: 10px;
				a{
					margin: 0;
					padding: 0;
					text-decoration: none;
					color: $base;
					font-size: 1.2rem;
				  line-height: 1.5;	
				  font-weight: 300;
				  font-family: $queen;
				  padding-left: 10px; 
				  border-left: 1px solid $detalhes; 
				  span{
				  	font-weight: 700;
				  	font-size: .6rem;
				  	color:$detalhes;
				  }
				}
			}				
		}
	}

	.wrap-sec-footer{
		float: right;
		padding:0 3rem 3rem 0 ;
		p{
			font-family: $queen;
				font-size: 1.4rem;
			  line-height: 1.7;
			  text-align: left;
			  color: $base;
				font-weight: 300;
		}
		.social{
			margin-right: 10px;
			svg{
				fill:$base;
				transition: all .3s ease-in-out;
				&:hover{
				fill: $detalhes;
				}
			}
		}
	}
	.wrap-form{
		padding:0 0 1rem 0 ;
		width: 100%;
		h3{
			font-family: $king;
				font-size: 1.6rem;
				font-weight: 300;
				color: $detalhes;
				margin: 0 0 1rem 0;
		}
		form{
			width: 100%;
			textarea{
				width: 100%;
				margin-bottom: .5rem;
				padding-left: .5rem;
				font-size: .9rem;
				line-height: 1.4;
				border: none;
				background-color: transparent;
				color: $detalhes;
				border: 1px solid  $detalhes;
				transition: all .1s ease;
				
			}
			textarea:focus,
			textarea:active{
				outline: 1px solid  $detalhes;
			}
			.btn-footer{
					width: 100%;

					height: 50px;
					text-decoration: none;
					padding: .9rem 1.4rem;
					background-color: $detalhes;
					color: $base;
					display: inline-block;
					transition: all .1s ease;
					border: none;
					&:hover{
						background-color: darken($detalhes, 10%);
					}
				}
			
			input{
				width: 100%;
				height: 50px;
				margin-bottom: .5rem;
				border: none;
				padding-left: .5rem;
				font-size: .9rem;
				background-color: transparent;
				color: $detalhes;
				border: 1px solid  $detalhes;
				transition: all .1s ease-in-out;
			}
			input:focus,
			input:active{
				outline: 1px solid  $detalhes;
				padding-right: .5rem;
				font-size: .9rem;
				
}
		}
	}
	.dev{
		width: 300px;
		p{
	padding: 1rem;
	font-family: $queen;
	color: $base;
	font-size: .7rem;
	a{
		text-decoration: none;
		color: $detalhes;
		font-weight: 700;
		font-family: $king;
	}
}
	}

}












@import 'response'; 